@tailwind base;
@tailwind components;
@tailwind utilities;

.blog h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.blog h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.blog h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blog h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blog h1:before {
  content: "# ";
}

.blog h2:before {
  content: "## ";
}

.blog h3:before {
  content: "### ";
}

.blog h4:before {
  content: "#### ";
}

.blog a {
  color: rgba(147, 197, 253, var(--tw-text-opacity));
}

.blog p {
  padding-top: 16px;
  padding-bottom: 16px;
}

.blog li {
  padding-left: 1em;
}

.blog li:before {
  content: "* ";
}
