@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h2 {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown h2:before {
  content: "## ";
}

.markdown h3 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown h3:before {
  content: "### ";
}

.markdown h4 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown h4:before {
  content: "### ";
}

.markdown p {
  margin-bottom: 8px;
}

.markdown a {
  text-decoration-line: underline;
}

.markdown ul {
  margin-left: 16px;
  margin-bottom: 8px;
  list-style: square;
}


.markdown code {
  padding: 2px 8px;
  background: rgb(68, 68, 68) none repeat scroll 0% 0%;
}

.markdown pre {
  margin-bottom: 8px;
}
